extends ../partials/layout

block header
  include ../includes/account_header

block subnav
  include ../includes/account_subnav

block content
  != messages('includes/notification', locals)
  .columns.is-centered
    .column.is-8
      .avatar-container.is-pulled-right
        img(src=`/images/${user.username}_avatar.png`, alt=user.username)
      h4.is-size-4 Account Info
      br
      