extends ../partials/layout

block header
  p.title
    | Your Account
  p.subtitle
    | Edit your goals, respond to requests

block subnav
  include ../includes/account_subnav

block content
  .columns.is-tablet
    .column.is-offset-3.is-6#request-container
      if pendingRequests.length === 0
        h3.is-size-3 You have no pending requests!
      else
       each request, i in pendingRequests
        .card(data-id=request._id)
          header.card-header
            p.card-header-title
              | #{request.displayName}
            a.card-header-icon(href='#', aria-label='more options')
              span.icon
                i.mdi.mdi-chevron-down(aria-hidden='true')
          .card-content
            .content
              h5.is-size-5 
                u Message: 
              p #{request.requestMessage}
              //- FORMAT THIS MOMENT
              p
                em Sent at: 
                time #{request.timeRequested}
          footer.card-footer
            a.card-footer-item.request-button.approve(href='#!') Approve
            a.card-footer-item.request-button.deny(href='#!') Deny
        br
  //- Modal for copyright info. Hidden until JS click event received.
  .modal#request-modal
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Reply to Request
        button.delete(aria-label='close')
      section.modal-card-body
        .content
          p 
            | Are you sure you wish to 
            span.response-type
            |  this request?
          .field
            label.label Reply
              span.is-pulled-right.is-faded (optional)
            .control
              input.input(name='message', type='text')
      footer.modal-card-foot
        button.button.response-button.is-success#approve-request Approve
        button.button.response-button.is-danger#deny-request Deny
        button.button.cancel Cancel
