extends ../partials/layout

block header
  include ../includes/account_header

block subnav
  include ../includes/account_subnav

block content
  != messages('includes/notification', locals)
  .columns
    .column.is-offset-2.is-8
      article.message.is-warning
        .message-header
          p Feature In Progress
        .message-body
          | I don't have this working yet... but it's gonna be a great feature! 😘