.navbar-tabs
  a.navbar-item.is-tab.is-active(href='#')
    span.icon.is-small
      i.mdi.mdi-view-list 
    | &nbsp;
    | Summary
  a.navbar-item.is-tab(href=`/${user.username}`)
    | #{userName}
  a.navbar-item.is-tab(href=`/${user.partner}`)
    | #{partnerName}