nav.navbar.has-shadow.is-white
  .container
    .navbar-tabs
      a.navbar-item.is-tab.is-active(href='http://bulma.io/documentation/form/general/')
        | General
      a.navbar-item.is-tab(href='http://bulma.io/documentation/form/input/')
        | Input
      a.navbar-item.is-tab(href='http://bulma.io/documentation/form/textarea/')
        | Textarea
      a.navbar-item.is-tab(href='http://bulma.io/documentation/form/select/')
        | Select
      a.navbar-item.is-tab(href='http://bulma.io/documentation/form/checkbox/')
        | Checkbox
      a.navbar-item.is-tab(href='http://bulma.io/documentation/form/radio/')
        | Radio
      a.navbar-item.is-tab(href='http://bulma.io/documentation/form/file/')
        | File
        span.tag.is-success(style='margin-left: 1em;')
          | New!