.navbar-tabs
  a.navbar-item.is-tab(href='#')
    .field.is-grouped
      .control
        span.icon.is-small
          i.mdi.mdi-view-list 
      .control
        | Summary
  //- a.navbar-item.is-tab.is-active(href='/test')
  //-   .field.is-grouped
  //-     .control
  //-       span.icon.is-small
  //-         i.mdi.mdi-flask-outline
  //-     .control
  //-       | Test
  a.navbar-item.is-tab(href=`/user`)
    | #{routeInfo.userName}
  a.navbar-item.is-tab(href=`/partner`)
    | #{routeInfo.partnerName}