nav.tabs.is-boxed
  .container
    .navbar-tabs
      a.navbar-item.is-tab.is-active(href=`/user`)
        | Overview
      //- a.navbar-item.is-tab(href='#')
        | Weight
      a.navbar-item.is-tab(href=`/user/spend`)
        | Spend Points