.navbar-tabs
  a.navbar-item.is-tab(href=`/user`, class=(['/user', '/partner'].includes(routeInfo.route) ? 'is-active' : false))
    .field.is-grouped
      .control
        span.icon.is-small
          i.mdi.mdi-view-list 
      .control
        | Overview
  //- a.navbar-item.is-tab(href='#')
    | Weight