extends header

block page
  section.hero.is-small(class=`is-${routeInfo.heroType}`)
    .hero-body
      .container
        block header
          p.title
            | Home
          p.subtitle
            | Welcome to 
            strong the fit zone
    .hero-foot
      .container
        block subnav
  != messages('includes/notification', locals)
  section.section
    block content