node_modules
.DS_Store
.httr-oauth
samGStoken.rds
.Rproj.user
.vscode
*.pkl
.sass-cache
config/secret
benchmarking
dist
public/bower_components
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/*.log
data/__pycache__
.env
