extends layout

//- block header
  //- h1.title Submit Data

block content
  form(method='POST', action='/data/submit')
    .field
      label.label Title:
      .control
        input.input(name='title', type='text')
    .field
      label.label Author:
      .control.has-icons-left
        input.input(name='author', type='text')
        span.icon.is-small.is-left
          i.mdi.mdi-check.mdi-dark
    .field
      label.label Body:
      .control
        textarea.textarea(name='body')
    input.button.is-primary(type='submit', value='Submit')

