extends layout

block header
  h1= article.title
  h2.subtitle By #{article.author}

block content
  p= article.body
  hr
  .field.is-grouped
    .control
      a.button.is-primary(href='/data/edit/'+article._id) Edit Article
    .control
      a.button.is-link.delete-article(href='#', data-id=article._id) Delete Article  