extends partials/header
block page
  section.hero.is-default.is-bold.flex-content.landing-page
    //- .hero-head
      .container
    .hero-body
      .container.is-fluid.has-text-centered
        h1.title.is-huge
          | Get Fit
        //- h2.subtitle.is-huge
          | Set Yourself up for Success
        br
        .has-text-centered
          if user
            a.button.is-large.is-transparent(href='/overview')
              | Get Started
          else 
            a.button.is-large.is-transparent(href='/login')
              | Log in
    .hero-foot
      != messages('includes/footer-notification', locals)