extends partials/header
block page
  section.hero.is-default.is-bold.flex-content
    //- .hero-head
      .container
    .hero-body.landing-page
      .container.has-text-centered
        h1.title.is-huge
          | Get Fit
        //- h2.subtitle.is-huge
          | Set Yourself up for Success
        br
        p.has-text-centered
          if user
            a.button.is-large.is-transparent(href='/overview')
              | Get Started
          else 
            a.button.is-large.is-transparent(href='/account/login')
              | Log in
    .hero-foot
      != messages('includes/footer-notification', locals)