extends partials/header
block page
  section.hero.flex-content.landing-page
    //- .hero-head
      .container
    .hero-body
      .container.is-fluid.has-text-centered
        h1.title.is-huge
          | Get Fit
        //- h2.subtitle.is-huge
          | Set Yourself up for Success
        br
        .has-text-centered
          if user
            a.button.is-large.is-transparent(href='/overview')
              | Get Started
          else 
            a.button.is-large.is-transparent(href='/login')
              | Log in
          //- a.button.is-large.is-transparent(href='/login')
          //-   | Info
    .hero-foot
      div.mini-info.is-pulled-right
        //- a.tag.is-light About
        //- | &nbsp;
        //- a.tag.is-light © 2018 Sam Hinshaw
        a.has-text-light
          span.icon
            i.mdi.mdi-information
          | Info
        a.has-text-light
          span.icon
            i.mdi.mdi-copyright
          | 2018
      != messages('includes/footer-notification', locals)