doctype html
html
  head
    title Get Fit!
    link(rel='stylesheet', href='/bower_components/bulma/css/bulma.css')
    link(rel='stylesheet', href='/bower_components/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body.Site
    //- nav.navbar.is-info
      .container
        .navbar-brand
          a.navbar-item(href='/')
            img(src="/images/sam_avatar.png", alt="Sam Hinshaw", height="28")
          div.navbar-burger(data-target='navMenu')
            span
            span
            span
        #navMenu.navbar-menu
          .navbar-start
            a.navbar-item(href="/data/submit") Submit
            a.navbar-item(href="/sam") Sam
            a.navbar-item(href="/amelia") Amelia
          .navbar-end
            .navbar-item
              .field.is-grouped
                p.control
                  a.button.is-primary(href='/users/login')
                    span.icon
                      i.mdi.mdi-light.mdi-account
                    span Login
                p.control
                  a.button.is-info(href='/users/register')
                    span.icon
                      i.mdi.mdi-light.mdi-account-plus
                    span Register
    //- section.header
    //-   .container.has-text-centered
    //-     block header
    //-       h1.title #{title}

    section.hero.is-small(class='is-'+pageInfo.heroType)
      .hero-body
        .container
          .columns.is-vcentered
            .column
              block header
                p.title
                  | Home
                p.subtitle
                  | Welcome to 
                  strong the fit zone
                  //- |  with Bulma
      .hero-foot
        .container
          nav.tabs.is-boxed
            ul
              //- attributes based on IN-LINE conditionals!!!
              //- Setup T/F statements for is-active routing highlighting
              //- https://github.com/pugjs/pug/issues/240
              li(class=(pageInfo.route === "/"  ? 'is-active' : false))
                a(href="/") Home
              li(class=(pageInfo.route === "/data" ? 'is-active' : false))
                a(href="/data/submit") Submit
              li(class=(pageInfo.route === "/sam" ? 'is-active' : false))
                a(href="/sam") 
                  | Sam
                  span.tag(style='margin-left: 1em;', class='is-' + userInfo.sam.pointsClass)
                    | #{userInfo.sam.points}
              li(class=(pageInfo.route === "/amelia" ? 'is-active' : false))
                a(href="/amelia")
                  | Amelia
                  span.tag(style='margin-left: 1em;', class='is-' + userInfo.amelia.pointsClass)   
                    | #{userInfo.amelia.points}
    nav.navbar.has-shadow.is-white
      .container
        .navbar-tabs
          a.navbar-item.is-tab.is-active(href='http://bulma.io/documentation/form/general/')
            | General
          a.navbar-item.is-tab(href='http://bulma.io/documentation/form/input/')
            | Input
          a.navbar-item.is-tab(href='http://bulma.io/documentation/form/textarea/')
            | Textarea
          a.navbar-item.is-tab(href='http://bulma.io/documentation/form/select/')
            | Select
          a.navbar-item.is-tab(href='http://bulma.io/documentation/form/checkbox/')
            | Checkbox
          a.navbar-item.is-tab(href='http://bulma.io/documentation/form/radio/')
            | Radio
          a.navbar-item.is-tab(href='http://bulma.io/documentation/form/file/')
            | File
            span.tag.is-success(style='margin-left: 1em;')
              | New!


    != messages('message', locals)
    section.section.Site-content
      .container.is-fluid
        .content
          block content
        block data
    footer.footer
      .container.is-desktop
        span.is-pulled-right
          p Copyright &copy; 2017
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/js/client.js')