extends ../partials/layout

block header
  p.title
    | Users
  p.subtitle
    | Login, register, 
    strong  manage your account
    |  🤓

block subnav
  include ../includes/account_subnav


block content
  h3.is-size-3 Login
  br
  form(method='POST', action='/login')
    .field
      label.label Username:
      .control
        input.input(name='username', type='text' autofocus)
    .field
      label.label Password:
      .control
        input.input(name='password', type='password')
    input.button(type='submit', value='Submit')