extends partials/header
block page
  section.hero.is-default.is-bold.flex-content.landing-page.login-page
    //- .hero-head
      .container
    .hero-body
      .box.login-box
        h3.is-size-3 Login
        br
        != messages('includes/landing-page-notification', locals)
        form(method='POST', action='/login')
          .field
            label.label Username:
            .control
              input.input(name='username', type='text' autofocus)
          .field
            label.label Password:
            .control
              input.input(name='password', type='password')
          input.button(type='submit', value='Submit')
    //- .hero-foot
    //-   != messages('includes/notification', locals)