extends partials/header
block page
  .section
    .columns.is-desktop
      .column.is-offset-2-desktop.is-8-desktop.is-10-tablet.is-offset-1-tablet
        h3.is-size-3 Login Help
        hr
        != messages('includes/landing-page-notification', locals)
        .columns.is-desktop
          .column.is-offset-3-desktop.is-6-desktop.is-8-tablet.is-offset-2-tablet
            .box
              h5.is-size-5.form-header Resend Verification Email
              form(method='POST', action='/login/resend')
                .field
                  label.label Email Address:
                  .control
                    input.input(name='email', type='email')
                input.button(type='submit', value='Submit')
