extends partials/header
block page
  section.hero.flex-content.landing-page
    .hero-body
      .box.register-box
        h3.is-size-3 Privacy
        br
        p Get Fit salts and hashes passwords using 
          a(href="https://en.wikipedia.org/wiki/Bcrypt") bcrypt
          | , an industry standard security practice. Get Fit also employs request throttling to prevent brute force attacks. Get Fit is secured by 
          a(href="https://snyk.io/") Snyk
          | and regularly updated to prevent vulernabilities.
        br
        p To use Get Fit, you must have a public MyFitnessPal diary. Any goals or rewards you set in Get Fit will be stored on our server, along with your daily calorie counts and exercise data from MyFitnessPal. 