extends partials/header
block page
  section.hero.is-default.is-bold.flex-content
    //- .hero-head
      .container
    .hero-body.landing-page
      .container
        .columns.is-vcentered.is-tablet
          .column.is-4.is-offset-4
            .box
              h4.is-size-4 Register
                br
                form(method='POST', action='/register')
                  .field
                    label.label.is-small Name:
                    .control
                      input.input.is-small(name='name', type='text')
                  .field
                    label.label.is-small Username:
                    .control
                      input.input.is-small(name='username', type='text')
                  .field
                    label.label.is-small Email:
                    .control
                      input.input.is-small(name='email', type='text')
                  hr
                  .field
                    label.label.is-small Partner:
                    .control
                      input.input.is-small(name='partner', type='text')
                  .field
                    label.label.is-small Calorie Goal:
                    .control
                      input.input.is-small(name='calGoal', type='number')
                  hr
                  .field
                    label.label.is-small Password:
                    .control
                      input.input.is-small(name='password', type='password')
                  .field
                    label.label.is-small Confirm Password:
                    .control
                      input.input.is-small(name='passwordConfirm', type='password')
                  input.button(type='submit', value='Submit')
    .hero-foot
      != messages('includes/footer-notification', locals)