extends partials/header
block page
  section.hero.is-default.is-bold.flex-content.landing-page
    .hero-body
      .box.register-box
        h3.is-size-3 Register
        br
        != messages('includes/landing-page-notification', locals)
        form(method='POST', action='/register')
          .columns.is-fullhd
            .column.is-half
              .field
                label.label First name:
                .control.has-icons-left
                  input.input(name='firstname', type='text', placeholder='John')
                  span.icon.is-small.is-left
                    i.mdi.mdi-account
              .field
                label.label Last name:
                  span.is-pulled-right.is-faded (optional)
                .control.has-icons-left
                  input.input(name='lastname', type='text', placeholder='Doe')
                  span.icon.is-small.is-left
                    i.mdi.mdi-account
              .field
                label.label Username:
                .control.has-icons-left.has-icons.right
                  input.input.validated-input(name='username', type='text', placeholder='johndoe245')
                  span.icon.is-small.is-left
                    i.mdi.mdi-account
              .field
                label.label Email:
                .control.has-icons-left.has-icons.right
                  input.input.validated-input(name='email', type='email', placeholder='john@gmail.com')
                  span.icon.is-small.is-left
                    i.mdi.mdi-at
            .column.is-half
              //- .field
              //-   label.label Fitness goal:
              //-     span.is-pulled-right.is-faded (optional)
              //-   .control
              //-     input.input(name='fitnessGoal', type='text', placeholder='six pack abs!')
              .field
                label.label MyFitnessPal Username:
                .control.has-icons-left.has-icons-right
                  input.input(name='mfp', type='text', placeholder='john22')
                  span.icon.is-small.is-left
                    i.mdi.mdi-run
              .field.checkbox-field
                .control
                  label.label.checkbox
                    input#withPartner(name='withPartner', type='checkbox')
                    | &nbsp;&nbsp;Participate with partner?
              div#notificationPlaceholder
              label.label.is-hidden#partnerUsernameLabel Partner's username:
                span.is-pulled-right.is-faded (optional)
              .field.is-hidden.has-addons#partnerUsername
                p.control.has-icons-left.has-icons-right.is-expanded
                  input.input(name='partner', type='text', placeholder='jane995')
                  span.icon.is-small.is-left
                    i.mdi.mdi-account
                p.control
                  button.button#findPartnerByUsername(type="button") Search
              .field.is-hidden#partnerEmail
                label.label Partner's email:
                  span.is-pulled-right.is-faded (optional)
                .control.has-icons-left.has-icons-right
                  input.input.validated-input(name='partnerEmail', type='email', placeholder='jane995@gmail.com')
                  span.icon.is-small.is-left
                    i.mdi.mdi-at
          hr
          .columns.is-fullhd
            .column.is-6
              .field
                label.label Password:
                .control.has-icons-left
                  input.input#password(name='password', type='password', placeholder='************')
                  span.icon.is-small.is-left
                    i.mdi.mdi-textbox-password
              .field
                label.label Confirm password:
                .control.has-icons-left.has-icons-right
                  input.input.validated-input(name='passwordConfirm', type='password', placeholder='************')
                  span.icon.is-small.is-left
                    i.mdi.mdi-textbox-password
            .column.is-6
              .field
                label.label Access Code:
                .control
                  input.input(name='accessCode', type='password', placeholder='************************')
          .field
            .control
              input.button(type='submit', value='Submit')
              a.button.is-text.is-pulled-right(href='/login/help/') Help
              a.button.is-text.is-pulled-right(href='/login/privacy/') Privacy
    //- .hero-foot
    //-   != messages('includes/footer-notification', locals)