extends partials/header
block page
  section.hero.is-default.is-bold.flex-content.landing-page
    //- .hero-head
      .container
    .hero-body
      .box
        h3.is-size-3 Register
        br
        form(method='POST', action='/register')
          .field
            label.label Name:
            .control
              input.input(name='name', type='text')
          .field
            label.label Username:
            .control
              input.input(name='username', type='text')
          .field
            label.label Email:
            .control
              input.input(name='email', type='text')
          hr
          .field
            label.label Partner:
            .control
              input.input(name='partner', type='text')
          .field
            label.label Calorie Goal:
            .control
              input.input(name='calGoal', type='number')
          hr
          .field
            label.label Password:
            .control
              input.input(name='password', type='password')
          .field
            label.label Confirm Password:
            .control
              input.input(name='passwordConfirm', type='password')
          input.button(type='submit', value='Submit')
    .hero-foot
      != messages('includes/footer-notification', locals)