/* need to manually remove bulled points if menu-list is within .content div */
/* ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
} */

/* Give titles some more room to breathe! */
.title {
  font-size: 10vmin;
  /* fixed with proper section usage */
  /* margin: 0.67em 0; */
}

/* Make footer margins wayyy smaller */
.footer {
  padding: 1.5rem;
}

/* Specifically, make the messages section have no bottom padding */
.messages {
  padding-bottom: 0;
}

/* Add CSS for handling removal of Bulma notifications */
.notification > button.delete {
  border: none;
  border-radius: 0;
  top: 0;
  right: 0;
}

.is-hidden {
  display: none;
}

/* Manually replace the variable $navbar-item-active-color */
#sam-subnav .navbar-item.is-tab {
  color: whitesmoke;
}

#sam-subnav .navbar-item.is-tab.is-active {
  font-weight: 600;
  border-bottom-color: whitesmoke;
  color: whitesmoke;
}

#sam-subnav .navbar-item.is-tab:hover,
#sam-subnav .navbar-item.is-tab:focus {
  /* background-color: #292929; */
  border-bottom-color: whitesmoke;
}

#amelia-subnav .navbar-item.is-tab.is-active {
  /* background-color: #292929; */
  font-weight: 600;
  border-bottom-color: #3273dc;
  color: #3273dc;
}

#amelia-subnav .navbar-item.is-tab:hover,
#amelia-subnav .navbar-item.is-tab:focus {
  /* background-color: whitesmoke; */
  border-bottom-color: #3273dc;
}

#main-subnav .navbar-item.is-tab {
  color: #363636;
}

#main-subnav .navbar-item.is-tab.is-active {
  /* background-color: #292929; */
  font-weight: 600;
  border-bottom-color: #363636;
  color: #363636;
}

#main-subnav .navbar-item.is-tab:hover,
#main-subnav .navbar-item.is-tab:focus {
  /* background-color: #e8e8e8; */
  border-bottom-color: #363636;
}

#account-subnav .navbar-item.is-tab {
  color: #23d160;
}

#account-subnav .navbar-item.is-tab.is-active {
  /* background-color: #292929; */
  font-weight: 600;
  border-bottom-color: #23d160;
  color: #23d160;
}

#account-subnav .navbar-item.is-tab:hover,
#account-subnav .navbar-item.is-tab:focus {
  /* background-color: #e8e8e8; */
  border-bottom-color: #23d160;
}

/* Remove padding on exercise media elements */
.media.exercise.level:not(:last-child) {
  margin-bottom: 1rem;
}

.thick {
  height: 5px;
}

/* add custom div colors */
/* body.is-dark {
  background-color: hsl(0, 0%, 21%);
} */

/* .site-card-footer {
  display: none;
} */
/* colored parts */

.card-wrapper.is-dark {
  background-color: hsl(0, 0%, 21%);
}
.card-wrapper.is-info {
  background-color: hsl(217, 71%, 53%);
}
.card-wrapper.is-warning {
  background-color: hsl(48, 100%, 67%);
}
.card-wrapper.is-success {
  background-color: hsl(141, 71%, 48%);
}

/* styling for sticky footer! */

.flex-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: whitesmoke; */
}
.flex-content {
  flex: 1;
}

/* Background Image for Landing Page */
.landing-page.hero-body {
  background-color: #485a28;
  background-image: url(/images/get-fit-cropped.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.landing-page .title,
.landing-page .subtitle {
  color: #dbdbdb;
  font-family: 'Cormorant Garamond', Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.title.is-huge {
  font-size: 20vmin;
}

.subtitle.is-huge {
  font-size: 7vmin;
}

.is-transparent {
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  background: transparent;
}

.is-transparent:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* Make footer notifications match style more */
.footer-notification {
  border-radius: 0;
}

.footer-notification > button.delete {
  left: 0;
}

/* Make avater image a normal size */
.avatar-container img {
  height: 30vmin;
}
