/* need to manually remove bulled points if menu-list is within .content div */
/* ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
} */

/* Give titles some more room to breathe! */
.title {
  font-size: 10vmax;
  /* fixed with proper section usage */
  /* margin: 0.67em 0; */
}

/* Make footer margins wayyy smaller */
.footer {
  padding: 1.5rem;
}

/* Specifically, make the messages section have no bottom padding */
.messages {
  padding-bottom: 0;
}

/* Add CSS for handling removal of Bulma notifications */
.notification > button.delete {
  border: none;
  border-radius: 0;
  top: 0;
  right: 0;
}

.is-hidden {
  display: none;
}

/* Need to correct colors of tabs */
.hero.is-info .navbar-item.is-tab,
.hero.is-dark .navbar-item.is-tab,
.hero.is-twitter .navbar-item.is-tab,
.hero.is-success .navbar-item.is-tab,
.hero.is-sam .navbar-item.is-tab {
  color: whitesmoke;
}
.hero.is-info .navbar-item.is-tab:hover,
.hero.is-dark .navbar-item.is-tab:hover,
.hero.is-twitter .navbar-item.is-tab:hover,
.hero.is-success .navbar-item.is-tab:hover,
.hero.is-sam .navbar-item.is-tab:hover {
  border-bottom-color: whitesmoke;
}

.hero.is-info .navbar-item.is-tab.is-active,
.hero.is-dark .navbar-item.is-tab.is-active,
.hero.is-twitter .navbar-item.is-tab.is-active,
.hero.is-success .navbar-item.is-tab.is-active,
.hero.is-sam .navbar-item.is-tab.is-active {
  /* background-color: #292929; */
  font-weight: 600;
  border-bottom-color: whitesmoke;
  color: whitesmoke;
}
.hero.is-info .navbar-item.is-tab.is-active:hover,
.hero.is-dark .navbar-item.is-tab.is-active:hover,
.hero.is-twitter .navbar-item.is-tab.is-active:hover,
.hero.is-success .navbar-item.is-tab.is-active:hover,
.hero.is-sam .navbar-item.is-tab.is-active:hover {
  border-bottom-color: whitesmoke;
}

/* Remove padding on exercise media elements */
/* .media.exercise.level:not(:last-child) {
  margin-bottom: 1rem;
} */

.thick {
  height: 5px;
}

/* add custom div colors */
/* body.is-dark {
  background-color: hsl(0, 0%, 21%);
} */

/* .site-card-footer {
  display: none;
} */
/* colored parts */

/* styling for sticky footer! */

.flex-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: whitesmoke; */
}
.flex-content {
  flex: 1;
}

/* Background Image for Landing Page */
.landing-page .hero-body {
  background-color: #363636;
  background: url(/images/get-fit-cropped.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* V & H-Center items that appear in this landing page  */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Specify width of the landing page boxes */
.landing-page .register-box {
  width: 50rem;
}
.landing-page .login-box {
  width: 25rem;
}

.landing-page .title,
.landing-page .subtitle {
  color: #dbdbdb;
  font-family: 'Cormorant Garamond', Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.title.is-huge {
  font-size: 20vmax;
}

.subtitle.is-huge {
  font-size: 7vmax;
}

.is-transparent {
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  background: transparent;
}

.is-transparent:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* Make footer notifications match style more */
.footer-notification {
  border-radius: 0;
}

.footer-notification > button.delete {
  left: 0;
}

/* Make avater image a normal size */
.avatar-container img {
  height: 30vmin;
}

/* If our update-entry button is in the card footer, make it borderless! */
.card-footer .update-entry {
  border: none;
}

.label .is-faded {
  color: #b5b5b5;
}

/* Card colors for overview page because apparently color scehems don't work for bulma cards! */
.overview-card .card-header.is-sam {
  background-color: #0f9d58;
}

.overview-card .card-header.is-amelia {
  background-color: #81d8d0;
}

a.card-header-title:hover {
  text-decoration: underline;
}

a.navbar-item.is-tab:hover {
  text-decoration: underline;
}
