extends ../partials/layout

block header
  include ../includes/user_header

block subnav
  include ../includes/user_subnav

block content
  //- Set up date information here. 
  //- Unfortunately this can't be done at the top level of an extending template
  //- - const moment = require('moment');
  - const moment = require('moment-timezone');
  - moment().format();

  //- - const now = moment.utc();
  - const now = moment.tz('US/Pacific');
  - const today = now.clone().startOf('day');
  - const todayPretty = today.format('YYYY-MM-DD');
  - const twoWeeksAgo = today.clone().subtract(14, 'days');
  - const twoWeeksAgoPretty = twoWeeksAgo.format('YYYY-MM-DD');

  //- - const tomorrow = today.clone().add(1, 'day');
  //- - const tomorrowPretty = tomorrow.format('YYYY-MM-DD');

  .field.is-grouped
    .control
      button.button.is-small.is-info.is-pulled-left.update-entry(data-date=todayPretty)
        | Update Today
    //- Note, if we place the tooltip directly onto the button, the behavior of
    //-  the tooltop (which utilizes ::before and ::after pseudo-elements) will
    //-  interfere with the loading spinner, which uses the ::after element on
    //-  click! Therefore we must attach the tooltip to the parent .control div
    //-  of the button. 
    .control.tooltip.is-tooltip-top(data-tooltip="This may take a while to update.")
      button.button.is-small.is-info.is-pulled-left.update-entry(data-date=`${twoWeeksAgoPretty} ${todayPretty}`)
        | Update Past Two Weeks
    //- .control
      span.tag(style='margin-left: 1em;', class='is-danger')
        | #{pointTally.user.toFixed(1)}
  br
  each entry, i in entries
    +ExerciseCard(entry)
    br