extends ../partials/layout

block header
  include ../includes/user_header

block subnav
  include ../includes/user_subnav

block content
  != messages('includes/notification', locals)
  .columns.is-desktop
    .column.is-6.is-offset-3
      //- Set up date information here. 
      //- Unfortunately this can't be done at the top level of an extending template
      //- - const moment = require('moment');
      - const moment = require('moment-timezone');
      - moment().format();

      //- - const now = moment.utc();
      - const now = moment.tz('US/Pacific');
      - const today = now.clone().startOf('day');
      - const todayPretty = today.format('YYYY-MM-DD');

      //- h3.is-size-3 Spend Points
      //- br
      form(method="POST", action="/user/spend")
        .field
          label.label Choose Reward
          .control
            .select
              select(name='reward')
                option(selected, disabled) Reward
                each reward, i in rewards
                  - const disabled = reward.cost > pointTally.user
                  option(value=reward.key, disabled=disabled)= reward.displayName
                  
        .field
          label.label Message
          .control
            textarea.textarea(name='message', placeholder='Any specific requests?')
        //- Currently no Bulma styling for a date-picker, so let's just skip this for now
        //- .field
        //-   label.label Date
        //-   .control
        //-     input(type='date', name='dateRequest')
        .field.is-grouped
          .control
            button.button Send Request
