extends ../partials/layout

block header
  include ../includes/user_header

block subnav
  include ../includes/user_subnav

block content
  //- Bring in custom stylesheet for D3 chart
  link(rel='stylesheet', href='/css/d3.css')
  //- D3 Chart Placeholder
  .container
    .columns.is-desktop
      .column.is-offset-2-desktop.is-9-desktop.is-10-tablet.is-offset-1-tablet
        #chart
  //- button(onclick="render('math')") Math
  //- button(onclick="render('science')") Science