extends ../partials/layout

block header
  include ../includes/partner_header

//- This could be an include, but leaving it here will
//- allow us to work with the 'is-active' logic better
block subnav
  include ../includes/partner_subnav

block content
  //- Set up date information here. 
  //- Unfortunately this can't be done at the top level of an extending template
  //- - const now = moment.utc();
  - const now = moment.tz('US/Pacific');
  - const today = now.clone().startOf('day');
  - const todayPretty = today.format('YYYY-MM-DD');
  - const twoWeeksAgo = today.clone().subtract(14, 'days');
  - const twoWeeksAgoPretty = twoWeeksAgo.format('YYYY-MM-DD');

  .level
    .level-left
      .button-padding
        .buttons.level-item
          button.button.is-small.is-info.update-entry(data-date=todayPretty)
            | Update Today
          button.button.is-small.is-info.update-entry(data-date=`${twoWeeksAgoPretty} ${todayPretty}`)
            | Update Past Two Weeks
    .level-right
      #notification-entry.level-item
  != messages('../includes/landing-page-notification', locals)
  each entry, i in entries
    +ExerciseCard(entry, startDate)
    br