// Import initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Update colors
$primary: hsl(0, 0%, 21%); // #8c67ef
$primary-invert: findColorInvert($primary);

// Set new colors
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$facebook: #4267b2;
$facebook-invert: findColorInvert($facebook);
$google-plus: #db4437;
$google-plus-invert: findColorInvert($google-plus);

// Set User & Partner colors (temporarily, hopefully?)
// $user: #FFCC33 // golden // great, but too close to the 'warning' color
// $user: #1bb76e // imgur green // second best!
$user: #0f9d58; // google sheets green // the best! like imgur green, but darker
// $user: #355E3B // hunter green
// $user: #138808 // india green // too green!
// $user: #00A693 // persian green // too close to tiffany blue!
// $user: #50C878 // paris green // too pale!
$user-invert: findColorInvert($user);
$partner: #81d8d0; // tiffany blue
$partner-invert: findColorInvert($partner);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
@import '~bulma/sass/utilities/derived-variables';
$addColors: (
  'primary': (
    $primary,
    $primary-invert,
  ),
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
  'facebook': (
    $facebook,
    $facebook-invert,
  ),
  'google-plus': (
    $google-plus,
    $google-plus-invert,
  ),
  'user': (
    $user,
    $user-invert,
  ),
  'partner': (
    $partner,
    $partner-invert,
  ),
);

$colors: map-merge($colors, $addColors);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import the rest of Bulma
@import '~bulma/bulma';

// Make card headers colored!
@each $name, $pair in $colors {
  $color: nth($pair, 1);
  $color-invert: nth($pair, 2);
  .card-header.is-#{$name} {
    background-color: $color;
    color: $color-invert;
  }
}

// $mdi-font-path: "../fonts" !default;
$mdi-font-path: '~@mdi/font/fonts';

// don't import everything
// "~@mdi/font/scss/materialdesignicons"

/* MaterialDesignIcons.com */
@import '~@mdi/font/scss/_variables';
@import '~@mdi/font/scss/_functions';

// don't import this path, we just want WOFF2
// "~@mdi/font/scss/_path";
@import './path.scss';
@import '~@mdi/font/scss/_core';
@import '~@mdi/font/scss/_icons';
@import '~@mdi/font/scss/_extras';
@import '~@mdi/font/scss/_animated';
